/* Body */
body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

/* Class */

.Download--cta {
    color: aquamarine;
    font-size: 16px;
}

.trademark {
    text-align: right;
    color: grey;
    font-size: 20px;
}

.media {
    text-align: center;
  }

/* h2 */

h2 {
    font-size: 42px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* footer */

footer {
    font-size: 21px;
    color: gray;
    text-align: right;
}
